.head-title{
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 55px;
    margin-top: 100px;
}

.container{
    width:60%;
    max-width: 700px;
    margin: 0 auto;
    
}
.container header{
    height: 250px;
    background-color: darkblue;
    position: relative;
}
.section-title{
    text-transform: capitalize;
    color: white;
    text-align: center;
    padding: 120px;
}
.icon{
    position: absolute;
    top:0;
    right: 10px;
    font-size: 50px;
    margin-top:10px;
    margin-right: 20px;
    border-radius: 50%;
   
} 
.fa{
    color: blue;
}

form{
    max-width: 400px;
    margin: 100px auto;
}

.form-field label{
    text-transform: capitalize;  
}

.form-input{
    width: 100%;
    display: block;
    border:0;
    border-bottom: 2px solid grey;
    padding:10px;
    
}


.submit{
    background-color: darkblue;
    border-radius: 40px;
    margin-top: 10px 20px;
    padding: 30px;
    color: white;
    margin:100px;
}










